<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Open sans', sans-serif;
      font-size: 14px;
      color: #555555;
    "
  >
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="
        max-width: 700px;
        margin: 0 auto;
        background-color: #2b59c3; /* Ganti dengan warna yang diinginkan */
      "
    >
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="padding: 40px; text-align: center">
                <img
                  src="https://ik.imagekit.io/awp2705/BeWise/Logo%20BeWise.png?updatedAt=1729526725903"
                  height="70"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding-inline: 20px" align="center">
          <table cellpadding="0" cellspacing="0" border="0" style="">
            <tr>
              <td style="text-align: center">
                <div
                  style="
                    max-width: 500px;
                    width: 95%;
                    padding-top: 20px;
                    padding-bottom: 30px;
                    padding-right: 10px;
                    padding-left: 10px;
                    margin: 0 auto;
                    background: #eae6e5;
                    border-radius: 6px;
                  "
                >
                  <p
                    style="
                      margin-top: 10px;
                      font-size: 24px;
                      font-weight: bold;
                      color: #434343;
                    "
                  >
                    Halo, Adamm
                  </p>
                  <p
                    style="
                      margin-top: 17px;
                      font-weight: light;
                      letter-spacing: px;
                    "
                  >
                    Gunakan tautan di bawah ini untuk mengatur ulang kata sandi
                    Anda
                  </p>
                  <a
                    href=""
                    style="
                      display: inline-block;
                      background-color: #253c78;
                      color: white;
                      font-size: 20px;
                      font-weight: bold;
                      padding: 10px 20px;
                      border-radius: 5px;
                      text-decoration: none;
                      font-family: 'Open Sans', sans-serif;
                    "
                    target="_blank"
                  >
                    Reset Password
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="padding: 40px; text-align: center">
                <p style="color: #ffffff">Copyright &copy; 2024 BeWise</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
